body, html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  background: linear-gradient(135deg, #f2eaff, #e0d7ff);
  color: #222;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  transition: all 0.8s ease;
}
