.navbar {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 25px;
  padding: 10px 25px;
  transition: 0.3s;
  z-index: 100;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.navbar li {
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: 0.3s;
}

.navbar li:hover {
  color: #facc15;
  transform: scale(1.1);
}
