.skills-section {
  background: linear-gradient(135deg, #e6dbff, #f3edff);
  text-align: center;
  padding: 70px 20px;
}

.skills-section h2 {
  color: #4b2bd4;
  font-size: 2rem;
  margin-bottom: 40px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.skill-card {
  background: white;
  color: #5b3ee5;
  padding: 15px 30px;
  border-radius: 30px;
  font-weight: 500;
  box-shadow: 0 0 15px rgba(160, 120, 255, 0.3);
  transition: 0.3s;
}

.skill-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px rgba(130, 100, 255, 0.5);
}
